package ${packageVo};

import lombok.Data;
import io.swagger.v3.oas.annotations.media.Schema;
import ${javaPrefix}.validation.constraints.*;

#set($hasBigDecimal = false)
#set($hasLocalDateTime = false)
#set($hasLocalDate = false)
#foreach($field in ${table.fields})
    #if(!$ignoreFieldList.contains($field.propertyName))
        #if("$field.propertyType" == "BigDecimal")
            #set($hasBigDecimal = true)
        #end
        #if("$field.propertyType" == "LocalDateTime")
            #set($hasLocalDateTime = true)
        #end
        #if("$field.propertyType" == "LocalDate")
            #set($hasLocalDate = true)
        #end
    #end
#end
#if($hasBigDecimal)
import java.math.BigDecimal;
#end
#if($hasLocalDateTime)
import java.time.LocalDateTime;
#end
#if($hasLocalDate)
import java.time.LocalDate;
#end

/**
 * @author ${author}
 * @since ${date}
 */
@Data
public class ${businessName}SaveReqVO {

#foreach($field in ${table.fields})
#if(!$ignoreFieldList.contains($field.propertyName))
## 非空且非主键字段，生成基础校验注解
#if(!$field.keyFlag && !$field.metaInfo.nullable)
#if($field.propertyType == "String")
    @NotEmpty(message = "${field.comment}不能为空")
#else
    @NotNull(message = "${field.comment}不能为空")
#end
#end
    @Schema(description = "$!{field.comment}")
    private ${field.propertyType} ${field.propertyName};

#end
#end
}